extends layout

block layout-content
	div.View.WelcomeView
		h1.Banner About Fallalytics
		div.Message
			p Fallalytics is a tool to explore data collected about round distribution in Fall Guys.
			p On the main page you will see the % likelihood of a round being featured when playing one round of Main Show.
			p The data is collected by using the Fallalytics edition of the Fall Guys Stats tracker. Download here: <a style="color:#0d6efd !important;" href="https://fallalytics.com/downloads/FallGuysStats_Fallalytics_Edition_v9.zip"> https://fallalytics.com/downloads/FallGuysStats_Fallalytics_Edition_v9.zip</a>
			p When you use the tracker, the round distribution is sent to the fallalytics database. We will keep track of what show you play, so dont worry about messing up the data by playing Hex-a-Ring trials etc...
			p Right now the cost for hosting this site is low, but you might expect some ads on this page if the hosting costs increase...
			h4 Credits and Thanks
			ul
				li <a style="color:#0d6efd !important;" href="https://github.com/hoier">@hoier</a> - Fullstack developer for Fallalytics and tracker adaptation.
				li <a style="color:#0d6efd !important;" href="https://github.com/ShootMe/FallGuysStats/">DevilSquirrel/ShootMe</a> - Developed the open source Fall Guys Stats tracker, that is used for our datacollecting.
				li <a style="color:#0d6efd !important;" href="https://fallguys-db.pages.dev/">FallguysDB</a> - Graciously set up an API for us to fetch show names.
				li <a style="color:#0d6efd !important;" href="https://twitter.com/ThreesFG">ThreesFG</a> - Fixed the Tracker in FFA S2, when the log format was changed. 
				li <a style="color:#0d6efd !important;" href="https://github.com/amagus">Amagus</a> - Fixed the Tracker in FFA S1, when the log format was changed. 
				li <a style="color:#0d6efd !important;" href="https://twitter.com/FGMuffins">Muffin</a> - Moral support and great feedback.
				li <a style="color:#0d6efd !important;" href="/leaderboard">Data collectors</a> - For downloading and using the tracker, you make this site work!
			span 
				strong Site is not affiliated with Epic, Mediatonic or Fall Guys. All components of this service follows the Fall Guys EULA
			br
			a(href="https://twitter.com/fallalytics")
				button.btn-grad Twitter
			a(href="javascript:cookieConsent.reset()")
				button.btn-grad Cookie settings
		div.NavButtons
			a(href="/")
				div.NavButton Go Back