extends graph

block graph-code
	script.
		const ctx = document.getElementById('myChart').getContext('2d');
		const  myChart = new Chart(ctx, {
			type: 'pie',
			data: {},
			options: {
				responsive: true,
				plugins: {
					legend: {
						display:true,
						position: 'bottom',
					},
					datalabels: {
						anchor: 'end',
						align: 'start',
						backgroundColor: function(context) {
							return context.dataset.backgroundColor;
						},
						borderColor: 'white',
						borderRadius: 5,
						borderWidth: 2,
						color: 'white',
						formatter: pieFormatter
					}
				}
			}
		});
		function pieFormatter(value, context){
			var i = context.dataIndex;
			return myChart.data.labels[i] + ": "+ value;
		}