extends layout

block layout-content
	div.View.WelcomeView
		h1.Banner We merged!
		div.Message
			p As of May 1st, 2023, the Fallalytics tracking has been implemented in the main project for the Fall Guys Tracker. This means you no longer have to rely on an update from fallalytics when new features are added to the tracker.
			p You can download the official Fall Guys Stats Tracker over on <a href="https://github.com/ShootMe/FallGuysStats" style="color:blue !important;">Fall Guys Stats Tracker (Github)</a>
			p Make sure you enable the Fallalytics reporting in settings:
			p
				img(src="/images/screenshots/fallguysstatssettings.PNG" width="100%" style="max-width:500px;" alt="Screenshot of application for tracking statistics in Fall Guys")
			br
			span 
				strong Site is not affiliated with Epic, Mediatonic or Fall Guys. All components of this service follows the Fall Guys EULA
		div.NavButtons
			a(href="/")
				div.NavButton Go Back